/**
 * EXPOSED FORM STYLING
 */
.search-case-label{
	margin-left:15px;
	
}

.case-search-left{
	
	/*background-color:yellow;*/
	margin: 0px;
	border-bottom: 1px solid #E6E6E6;
	padding-bottom:8px;
	padding-top:8px;
	
}
.case-search-right{
	padding-top:8px;
	/*background-color:yellow;*/
	margin-left: 0px;
	border-bottom: 1px solid #E6E6E6;
	padding-bottom:8px;
	
}
.case-search-full{
	padding-top:8px;
	/*background-color:yellow;*/
	margin-right:28px;
	border-bottom: 1px solid #E6E6E6;
	padding-bottom:8px;
	
}

.case-search-label{
	margin-top:1px;
	margin: 0px;
	text-align:right;
	font-weight:bold;
	
}
.region-search{
	margin-right:20px;
	margin-top:3px;
}
.date-search{
	margin-right:20px;
	margin-top:19px;
	width:118px !important;
}

.case-search-textfield{
	margin: 0px;
	padding-left: 5px;
	
	
	
}

.case-search-textfield select{
	width:237px;
}

.case-search-button input{
	
	margin-top: 8px;
	margin-left: 760px;
	
}


.date-views-filter-wrapper {
	position:relative;
	width: 600px;
	/*background-color:yellow;*/
}

.date-clear {
display:inline;
float:left !important;
clear:none;
}

/*
 * 
 * SEARCH CASE VIEWS CSS
 * TABLE FORMATTING
 * 
 */
.actor-link{
	text-decoration:none;
	color:black;
}

/*
 * case name
 */
td.views-field-title{
	width:100px;
}

/*
 * case date
 */
td.views-field-field-case-date-value{
	width:100px;
}

/*
 * general table cell settings
 */
.views-table td{
	vertical-align:middle;
	border:1px black solid;
	padding:5px;
}

/*
 * table headers
 
th.views-field{
	background-color:#dddddd;
	border: 2px black solid ;
	padding:5px;
	
	
}
.views-table{
	border-width: 2px;
	
	border-style: collapse;
	border-color: black black black black;
}
*/

/*
 * odd rows
 *
tr.odd{
	background-color:white;
}
*/
/*
 * SEARCH CASE FORM
 */
.form-select{
	min-width:100px;
}


.views-content{
	padding: 5px;
	padding-bottom:15px;
}
#views-exposed-form-cases-map-page-1 .map-1{clear:both; overflow:hidden;}
#views-exposed-form-cases-map-page-1 .date-views-filter-wrapper{width:auto; min-width:50px;}
#views-exposed-form-cases-map-page-1 .views-exposed-widget-map-apply{clear:both;}
#views-exposed-form-cases-map-page-1 .map-6{clear:both;}
#views-exposed-form-cases-map-page-1 .map-2{clear:left; padding-right:12px;}
#views-exposed-form-cases-map-page-1 .map-4 select{width:144px;}
#views-exposed-form-cases-map-page-1 .map-5 select{width:118px;}
#views-exposed-form-cases-map-page-1 .form-text{border-width:1px; border-style:solid;}
#views-exposed-form-cases-map-page-1 select{border-width:1px; border-style:solid; margin:2px;}
#views-exposed-form-cases-map-page-1 .map-6 select,
#views-exposed-form-cases-map-page-1 .map-1 select{width:613px; padding:0;}
#views-exposed-form-cases-map-page-1 .views-exposed-widget-map-apply{width:613px; overflow:hidden;}
#views-exposed-form-cases-map-page-1 .views-exposed-widget-map-apply .form-submit{display:block; width:60px; margin:10px auto;}
.view-cases-map .view-content{overflow:hidden; clear:both;}
.view-cases-map .view-content .gmap-gmap{float:none;}